jpatchaca-jira-plugin-ws-stub/src/main/wsdl/jpatchaca-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" xmlns:intf="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://jira.jpatchaca.org" xmlns:tns2="http://exception.rpc.jira.atlassian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://jira.jpatchaca.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteMetaAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="http://jira.jpatchaca.org"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_RemoteMetaAttribute">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:RemoteMetaAttribute[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://exception.rpc.jira.atlassian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service"/>
   <import namespace="http://jira.jpatchaca.org"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMetaAttributesForIssueResponse">

      <wsdl:part name="getMetaAttributesForIssueReturn" type="impl:ArrayOf_tns1_RemoteMetaAttribute"/>

   </wsdl:message>

   <wsdl:message name="getMetaAttributesForIssueRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="RemoteException">

      <wsdl:part name="fault" type="tns2:RemoteException"/>

   </wsdl:message>

   <wsdl:message name="getRemainingEstimateRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getRemainingEstimateResponse">

      <wsdl:part name="getRemainingEstimateReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:portType name="JPatchacaSoapService">

      <wsdl:operation name="getMetaAttributesForIssue" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMetaAttributesForIssueRequest" name="getMetaAttributesForIssueRequest"/>

         <wsdl:output message="impl:getMetaAttributesForIssueResponse" name="getMetaAttributesForIssueResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getRemainingEstimate" parameterOrder="in0 in1">

         <wsdl:input message="impl:getRemainingEstimateRequest" name="getRemainingEstimateRequest"/>

         <wsdl:output message="impl:getRemainingEstimateResponse" name="getRemainingEstimateResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="jpatchaca-serviceSoapBinding" type="impl:JPatchacaSoapService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMetaAttributesForIssue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMetaAttributesForIssueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.jpatchaca.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMetaAttributesForIssueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRemainingEstimate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRemainingEstimateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.jpatchaca.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRemainingEstimateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="https://10.42.12.15:8880/rpc/soap/jpatchaca-service" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JPatchacaSoapServiceService">

      <wsdl:port binding="impl:jpatchaca-serviceSoapBinding" name="jpatchaca-service">

         <wsdlsoap:address location="https://10.42.12.15:8880/rpc/soap/jpatchaca-service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
