jpatchaca-jira-plugin-ws-stub/src/main/wsdl/jpatchacaservice-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1" xmlns:intf="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://exception.rpc.jira.atlassian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://exception.rpc.jira.atlassian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMetaAttributeForIssuesResponse">

      <wsdl:part name="getMetaAttributeForIssuesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="RemoteException">

      <wsdl:part name="fault" type="tns1:RemoteException"/>

   </wsdl:message>

   <wsdl:message name="isAvailableRequest">

   </wsdl:message>

   <wsdl:message name="isAvailableResponse">

      <wsdl:part name="isAvailableReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getMetaAttributeForIssuesRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="in2" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="JPatchacaSoapService">

      <wsdl:operation name="getMetaAttributeForIssues" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getMetaAttributeForIssuesRequest" name="getMetaAttributeForIssuesRequest"/>

         <wsdl:output message="impl:getMetaAttributeForIssuesResponse" name="getMetaAttributeForIssuesResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="isAvailable">

         <wsdl:input message="impl:isAvailableRequest" name="isAvailableRequest"/>

         <wsdl:output message="impl:isAvailableResponse" name="isAvailableResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="jpatchacaservice-v1SoapBinding" type="impl:JPatchacaSoapService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMetaAttributeForIssues">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMetaAttributeForIssuesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.jpatchaca.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMetaAttributeForIssuesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isAvailable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isAvailableRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.jpatchaca.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isAvailableResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JPatchacaSoapServiceService">

      <wsdl:port binding="impl:jpatchacaservice-v1SoapBinding" name="jpatchacaservice-v1">

         <wsdlsoap:address location="https://10.42.12.15:8880/rpc/soap/jpatchacaservice-v1"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
